
#container{      
		width: 100%;
		height:100%;
		
}


#container .bd{position:absolute;left:0;top:0;bottom:0;width:100%;}

#container .bd .zone{height:100px;width:100%;}
#container .bd .zone .item{height:50%;width:100%;  }
#container .bd .zone .item .item-text1{height:100%;background-color:#ffff00;float:left;}
#container .bd .zone .item .item-text2{height:100%;background-color:#f0ff00;float:right;}

/*width:calc(90% + 5px);*/

